---
import {Image} from 'astro:assets'
import imageOne from '@assets/aboutOne.jpeg'
import imageTwo from '@assets/aboutTwo.jpg'

---

<section class="pt-12 pb-6 lg:px-14">
    <div class="gap-8 lg:gap-16 items-center lg:items-start mx-auto max-w-screen-xl flex flex-col lg:grid lg:grid-cols-2 lg:py-16 lg:mb-16">

        <h2 class="text-3xl lg:text-4xl lg:ordr-1 col-span-full tracking-tight font-extrabold text-gray-900 dark:text-white self-start">About UPL</h2>
        <div class="order-last lg:order-2 font-light text-rangoon-green-950 sm:text-lg dark:text-gray-400">
            <p class="font-body">The Uttarakhand Premier League is the state’s premier T20 tournament conducted by the Cricket Association of Uttarakhand. With the inaugural season slated to be held in June 2024, involving 6 men’s and 3 women’s’ teams, expect plenty of fast-paced T20 action. To be played at the Rajiv Gandhi International Cricket Stadium, Dehradun, the league aims to provide a platform for budding cricketers from the state as they rub shoulders with players who have represented Team India and various IPL franchises.</p>
        </div>
        <div class=" grid grid-cols-2 gap-4  lg:order-3">
            <div class="lg:h-96">
                <Image src={imageOne} alt="about image One"

                    widths={[560, imageOne.width]}
                    sizes={`(max-width: 1368px) 560px, ${imageOne.width}px`}

                    class="object-cover w-full h-full rounded-lg" />
            </div>

            <div class="lg:h-96">
                <Image src={imageTwo} alt="about image Two"
                    widths={[560, imageTwo.width]}
                    sizes={`(max-width: 1368px) 560px, ${imageTwo.width}px`}

                    class=" object-cover w-full h-full lg:mt-10 rounded-lg" />
            </div>
        </div>

    </div>

</section>

